{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    {% block meta_tags %}
    {% endblock meta_tags %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- SITE TITLE -->
    <title>{% block title %}  - {{ site_settings.site_name }} {% endblock title %}</title>

    <!-- FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" href="{{ site_settings.site_favicon.url }}" type="image/x-icon">
    <link rel="icon" href="{{ site_settings.site_favicon.url }}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site_settings.site_header_logo.url }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site_settings.site_header_logo.url }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site_settings.site_header_logo.url }}">
    <link rel="apple-touch-icon" href="{{ site_settings.site_header_logo.url }}">
    <link rel="icon" href="{{ site_settings.site_header_logo.url }}" type="image/x-icon">


    <!-- BOOTSTRAP CSS -->
    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- FONT ICONS -->
    <link href="{% static 'website/css/flaticon.css' %}" rel="stylesheet">

    <!-- PLUGINS STYLESHEET -->
    <link href="{% static 'website/css/menu.css' %}" rel="stylesheet">
    <link id="effect" href="{% static 'website/css/dropdown-effects/fade-down.css' %}" media="all" rel="stylesheet">
    <link href="{% static 'website/css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/owl.theme.default.min.css' %}" rel="stylesheet">

    <!-- ON SCROLL ANIMATION -->
    <link href="{% static 'website/css/animate.css' %}" rel="stylesheet">

    <!-- TEMPLATE CSS -->
    <link href="{% static 'website/css/style.css' %}" rel="stylesheet">

    <!-- RESPONSIVE CSS -->
    <link href="{% static 'website/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/abaci.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500;700&display=swap" rel="stylesheet">

    {% block extra_style %}
    {% endblock extra_style %}
</head>


<body>


<!-- PRELOADER SPINNER
============================================= -->
{#<div id="loading" class="skyblue-loading">#}
{#    <div id="loading-center">#}
{#        <div id="loading-center-absolute">#}
{#            <div class="object" id="object_one"></div>#}
{#            <div class="object" id="object_two"></div>#}
{#            <div class="object" id="object_three"></div>#}
{#            <div class="object" id="object_four"></div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{#<div id="pre-loader">#}
{##}
{#</div>#}


<!-- PAGE CONTENT
============================================= -->
<div id="page" class="page">
    <!-- HEADER ============================================= -->
    <header id="header" class="header tra-menu navbar-dark">
        <div class="header-wrapper">
            <!-- MOBILE HEADER -->
            <div class="wsmobileheader clearfix">
                <span class="smllogo"><img src="{{ site_settings.site_header_logo.url }}" alt="mobile-logo"/></span>
                <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
            </div>

            <!-- NAVIGATION MENU -->
            <div class="wsmainfull menu clearfix">
                <div class="wsmainwp clearfix">

                    <!-- HEADER LOGO -->
                    <div class="desktoplogo"><a href="{% url 'index' %}" class="logo-black"><img
                            src="{{ site_settings.site_header_logo.url }}" alt="header-logo"></a></div>
                    <div class="desktoplogo"><a href="{% url 'index' %}" class="logo-white"><img
                            src="{{ site_settings.site_header_logo.url }}" alt="header-logo"></a></div>


                    <!-- MAIN MENU -->
                    <nav class="wsmenu clearfix">
                        <ul class="wsmenu-list nav-stateblue-hover">
                            <li class="nl-simple"><a href="{% url 'about_us' %}">About Us </a>

                            </li>
                            <li class="nl-simple" aria-haspopup="true"><a
                                    href="{% url 'our_services' %}">Our Services</a></li>

                            <!-- HEADER BUTTON -->
                            <li class="nl-simple" aria-haspopup="true">
                                <a href="{% url 'contact_us' %}"
                                   class="btn btn-black last-link text-white">Get in Touch

                                </a>
                            </li>

                        </ul>
                    </nav>    <!-- END MAIN MENU -->


                </div>
            </div>    <!-- END NAVIGATION MENU -->


        </div>     <!-- End header-wrapper -->
    </header>

    {% block main_content %}


    {% endblock main_content %}

    {% block cta %}
        <!-- CALL TO ACTION-11
      ============================================= -->
        <section id="cta-11" class=" cta-section division mt-100">
            <div class="container">
                <div class=" cta-11-wrapper" style="background-color: #f2f4ef">
                    <div class="row d-flex align-items-center">


                        <!-- CALL TO ACTION TEXT -->
                        <div class="col-lg-7 col-lg-7">
                            <div class="cta-11-txt">

                                <!-- Title -->
                                <h2 class="">{{ site_settings.cta_heading }}</h2>

                                <!-- Text -->
                                <p class="p-lg" style="font-size: 15px; ">{{ site_settings.cta_description }}
                                </p>

                                <!-- Button -->


                            </div>
                        </div>


                        <!-- CALL TO ACTION BUTTON -->
                        <div class="col-lg-5">
                            <div class="text-end">
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <a href="{% url 'contact_us' %}" class="btn primary-button">Get Started</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>    <!-- End row -->
            </div>       <!-- End container -->
        </section>    <!-- END CALL TO ACTION-11 -->



    {% endblock cta %}

    {% block footer %}

        <!-- FOOTER-4 ============================================= -->
        <footer id="footer-4" class="footer division">

            <hr>
            <!-- BOTTOM FOOTER -->
            <div class="bottom-footer">
                <div class="row row-cols-3 row-cols-md-3 d-flex align-items-center">
                    <!-- FOOTER COPYRIGHT -->

                    <div class="col-lg-5">
                        <div class="footer-copyright ml-20">
                            <p>&copy;
                                <script>document.write(new Date().getFullYear())</script>
                                ABACI. All Rights Reserved
                            </p>
                        </div>
                    </div>
                    <!-- BOTTOM FOOTER LINKS -->
                    <div class="col-lg-7">
                        <ul class="bottom-footer-list text-secondary text-end mr-20">
                            <li class="first-li"><p><a href="{% url 'about_us' %}">About Us</a></p></li>
                            <li class="first-li"><p><a href="{% url 'our_services' %}">Our Services</a></p></li>
                            <li class="first-li"><p><a href="{% url 'contact_us' %}">Get in Touch</a></p></li>
                            <li class="first-li"><p><a href="{% url 'privacy_policy' %}">Privacy Policy</a></p></li>
                            <li class="last-li"><p><a href="{% url 'term_and_conditions' %}">Terms & Conditions</a></p>
                            </li>
                        </ul>
                    </div>
                </div>  <!-- End row -->
            </div>
            <!-- BOTTOM FOOTER -->


        </footer>
        <!-- FOOTER-4 -->
    {% endblock footer %}
</div>
<!-- END PAGE CONTENT -->

<!-- EXTERNAL SCRIPTS
============================================= -->
<script src="{% static 'website/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
{#<script src="{% static 'website/js/modernizr.custom.js' %}"></script>#}
{#<script src="{% static 'website/js/jquery.easing.js' %}"></script>#}
{#<script src="{% static 'website/js/jquery.appear.js' %}"></script>#}
{#<script src="{% static 'website/js/jquery.scrollto.js' %}"></script>#}
{#<script src="{% static 'website/js/menu.js' %}"></script>#}
{#<script src="{% static 'website/js/imagesloaded.pkgd.min.js' %}"></script>#}
{#<script src="{% static 'website/js/isotope.pkgd.min.js' %}"></script>#}
{#<script src="{% static 'website/js/owl.carousel.min.js' %}"></script>#}
{#<script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>#}
{#<script src="{% static 'website/js/quick-form.js' %}"></script>#}
{#<script src="{% static 'website/js/request-form.js' %}"></script>#}
{#<script src="{% static 'website/js/jquery.validate.min.js' %}"></script>#}
{#<script src="{% static 'website/js/jquery.ajaxchimp.min.js' %}"></script>#}
{#<script src="{% static 'website/js/wow.js' %}"></script>#}
<!-- Custom Script -->
<script src="{% static 'website/js/custom.js' %}"></script>

{% block extra_script %}
{% endblock extra_script %}

</body>
</html>
