{% extends 'base/base.html' %}
{% load static %}
{% block title %} About Us - {{ site_settings.site_name }} {% endblock title %}
{% block main_content %}


    <div class="container mt-100">
        <h1 class="h1-title">{{ about.page_title }}</h1>
        <div class="col-lg-6 mt-20 ">
            <p class="about-description">{{ about.page_description }}</p>
        </div>
        <div class="row mt-50" style="    padding: 20px;
    border-radius: 10px;
    background-color: #e7f6e7;
">
            <div class="section-data col-lg-8">
                <div class="journey-data">
                    <h3 class="h3-title">Our inspirational journey at Abaci</h3>
                    <p class="journey-text">Our journey has been marked by resilience, a thirst for knowledge, and a
                        passion for making a positive impact.</p>
                    <ul role="list" class="journey-info">
                        <li class="journey-checklist">Collaborative Achievements</li>
                        <li class="journey-checklist">Team Achievements</li>
                        <li class="journey-checklist">Client Success Stories</li>
                        <li class="journey-checklist">Future Aspirations</li>
                        <li class="journey-checklist">Community Engagement</li>
                    </ul>
                </div>
                <div class="button-wrap"><a href="{% url 'our_services' %}" class="btn primary-button w-inline-block">
                    <div>Explore Services</div>
                </a></div>
            </div>
        </div>
    </div>




    <section class="division section mt-70">
        <div class="container">
            <div class="values-wrap">
                <div class="values-block left">
                    <div class="values-icon">
                        <img src="{{ about.block_1_icon.url }}" loading="lazy" alt="values Icon">
                    </div>
                    <div class="values-data">
                        <h5 class="values-title h5-title">{{ about.block_1_title }}</h5>
                        <p class="values-text">
                            {{ about.block_1_description }}
                        </p>
                    </div>
                </div>
                <div class="values-block left">
                    <div class="values-icon">
                        <img src="{{ about.block_2_icon.url }}" loading="lazy" alt="values Icon">
                    </div>
                    <div class="values-data">
                        <h5 class="values-title h5-title">{{ about.block_2_title }}</h5>
                        <p class="values-text">
                             {{ about.block_2_description }}
                        </p>
                    </div>
                </div>
                <div class="values-block left">
                    <div class="values-icon">
                        <img src="{{ about.block_3_icon.url }}" loading="lazy" alt="values Icon">
                    </div>
                    <div class="values-data">
                        <h5 class="values-title h5-title">{{ about.block_3_title }}</h5>
                        <p class="values-text">
                             {{ about.block_3_description }}
                        </p>
                    </div>
                </div>
                <div class="values-block">
                    <div class="values-icon">
                        <img src="{{ about.block_4_icon.url }}" loading="lazy" alt="values Icon">
                    </div>
                    <div class="values-data">
                        <h5 class="values-title h5-title">{{ about.block_4_title }}</h5>
                        <p class="values-text">
                            {{ about.block_4_description }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock main_content %}
