{% extends 'base/base.html' %}
{% load static %}
{% block main_content %}


    <div class="container mt-100">
        <h1 class="h1-title">About Us</h1>
        <div class="col-lg-6 mt-20 ">
            <p class="about-description">Welcome to Abaci, where innovation meets excellence. At Abaci, we are more than
                just a company; we are a
                community of passionate individuals committed to redefining the boundaries of what's possible.</p>
        </div>
        <div class="row mt-50" style="    padding: 20px;
    border-radius: 10px;
    background-color: #e7f6e7;
">
            <div class="section-data col-lg-8">
                <div class="journey-data">
                    <h3 class="h3-title">Our inspirational journey at Abaci</h3>
                    <p class="journey-text">Our journey has been marked by resilience, a thirst for knowledge, and a
                        passion for making a positive impact.</p>
                    <ul role="list" class="journey-info">
                        <li class="journey-checklist">Collaborative Achievements</li>
                        <li class="journey-checklist">Team Achievements</li>
                        <li class="journey-checklist">Client Success Stories</li>
                        <li class="journey-checklist">Future Aspirations</li>
                        <li class="journey-checklist">Community Engagement</li>
                    </ul>
                </div>
                <div class="button-wrap"><a href="" class="btn primary-button w-inline-block">
                    <div>Explore Services</div>
                </a></div>
            </div>
        </div>
    </div>




    <section class="division section mt-70">
        <div class="container">
            <div class="values-wrap">
                <div class="values-block left">
                    <div class="values-icon">
                        <img src="{% static 'website/images/mission.svg' %}" loading="lazy" alt="values Icon">
                    </div>
                    <div class="values-data">
                        <h5 class="values-title h5-title">Our Mission</h5>
                        <p class="values-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s
                        </p>
                    </div>
                </div>
                <div class="values-block left">
                    <div class="values-icon">
                        <img src="{% static 'website/images/idea.svg' %}" loading="lazy" alt="values Icon">
                    </div>
                    <div class="values-data">
                        <h5 class="values-title h5-title">Innovation</h5>
                        <p class="values-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s
                        </p>
                    </div>
                </div>
                <div class="values-block left">
                    <div class="values-icon">
                        <img src="{% static 'website/images/values.svg' %}" loading="lazy" alt="values Icon">
                    </div>
                    <div class="values-data">
                        <h5 class="values-title h5-title">Our Values</h5>
                        <p class="values-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s
                        </p>
                    </div>
                </div>
                <div class="values-block">
                    <div class="values-icon">
                        <img src="{% static 'website/images/mission.svg' %}" loading="lazy" alt="values Icon">
                    </div>
                    <div class="values-data">
                        <h5 class="values-title h5-title">Collaboration</h5>
                        <p class="values-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- CALL TO ACTION-11
    ============================================= -->
    <section id="cta-11" class=" cta-section division mt-100">
        <div class="container">
            <div class=" cta-11-wrapper" style="background-color: #f2f4ef">
                <div class="row d-flex align-items-center">


                    <!-- CALL TO ACTION TEXT -->
                    <div class="col-lg-7 col-lg-7">
                        <div class="cta-11-txt">

                            <!-- Title -->
                            <h2 class="">Start your transformation today!</h2>

                            <!-- Text -->
                            <p class="p-lg" style="font-size: 15px; ">Are you ready to revolutionize the way you do
                                business? Abaci is your catalyst for success, combining innovation, seamless
                                integration, and tailored solutions.
                            </p>

                            <!-- Button -->


                        </div>
                    </div>


                    <!-- CALL TO ACTION BUTTON -->
                    <div class="col-lg-5">
                        <div class="text-end">
                            <div class="row">
                                <div class="col d-flex justify-content-end">
                                    <a href="" class="btn primary-button">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>    <!-- End row -->
        </div>       <!-- End container -->
    </section>    <!-- END CALL TO ACTION-11 -->




{% endblock main_content %}
