{% extends 'base/base.html' %}
{% load static %}
{% block title %} {{ site_settings.site_name }} - {{ site_settings.site_tag_line }}{% endblock title %}
{% block main_content %}
    <!-- HERO-10
			============================================= -->
    <section id="hero-10" class="bg-scroll rel hero-section division" {% if site_settings.hero_image == None %} style="height: 500px"{% endif %}>
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col text-center">


                    <!-- HERO TEXT -->
                    <div class="hero-10-txt">

                        <!-- Title -->
                        <h2 class="h2-md wow fadeInUp">
                            {{ site_settings.hero_tag_line }}
                        </h2>

                        {% if site_settings.hero_image %}
                            <img src="{{ site_settings.hero_image.url }}" class="hero-img">
                        {% endif %}



                    </div>

                </div>
            </div>    <!-- End row -->
        </div>       <!-- End container -->
    </section>    <!-- END HERO-10 -->



    <div class="container h-100 mt-70">
        <div class="row align-items-center h-100">
            <div class="container rounded">
                <div class="trusted-title text-center">{{ site_settings.client_section_title }}
                </div>
                <div class="slider mt-50">
                    <div class="logos">
                        {% for client in clients %}
                            {% if client.client_logo %}
                            <img src="{{ client.client_logo.url }}" class="client-logo  ml-10">
                                {% else %}
                                {{ client.client_name }}
                            {% endif %}
                        {% endfor %}


                    </div>

                </div>
            </div>
        </div>

    </div>



    <div class="container mt-100">
        <div class="row">
            <!-- Column for the first card -->
            <div class="col-md-4">
                <div class="card h-100" style="background-color: #fbf5f5; padding-top: 10px ">
                    <div class="card-body">
                        <div class="feature-head">
                            <div class="feature-title">
                                <div class="feature-icon">
                                    <img src="{% static 'website/images/svg/automation.svg' %}" alt="Feature Icon">
                                </div>
                                <h4 class="feature-heading">Automate</h4>
                            </div>
                            <p class="feature-info">Manual and repetitive tasks are tedious and divert valuable time and resource away from profit-generating activities. 
                            These tasks can consume a substantial portion of an organization's capacity.</p>
                            <p class="feature-info">By implementing automation, organizations can unlock their full potential, directing their efforts towards innovation, customer satisfaction, and other activities that drive growth and profitability.</p>
                        </div>
                    </div>
                    <!-- <img src="{% static 'website/images/card1.svg' %}" class="card-1-img"> -->
                </div>
            </div>

            <!-- Column for the second, third, and fourth cards -->
            <div class="col-md-8">
                <div class="row">
                    <!-- Second card -->
                    <div class="col-md-6 d-flex">
                        <div class="card mb-4 flex-fill"
                             style="background-color: #e5e9e0; padding-top: 10px; ">
                            <div class="card-body">
                                <div class="feature-head">
                                    <div class="feature-title">
                                        <div class="feature-icon">
                                            <img src="{% static 'website/images/svg/architecture.svg' %}"
                                                 alt="Feature Icon">
                                        </div>
                                        <h4 class="feature-heading">Analytics</h4>
                                    </div>
                                    <p class="feature-info">
                                        Create interactive dashboards that visualize your data in a user-friendly and aesthetically pleasing way. Our solutions are designed to help you unlock the full potential of your data, 
                                        providing clear insights and actionable intelligence.
                                    </p>
                                </div>
                                <!-- <img src="{% static 'website/images/svg/card2.svg' %}" class="card-2-img"> -->
            </div>

        </div>
    </div>
    <!-- Third card -->
                                <div class="col-md-6 d-flex">
                                    <div class="card mb-4 flex-fill"
                                         style="background-color: #eaf1f1; padding-top: 10px; ">
                                        <div class="card-body">
                                            <div class="feature-head">
                                                <div class="feature-title">
                                                    <div class="feature-icon">
                                                        <img src="{% static 'website/images/svg/edge.svg' %}"
                                                             alt="Feature Icon">
                                                    </div>
                                                    <h4 class="feature-heading">Innovation</h4>
                                                </div>
                                                <p class="feature-info">
                                                    Receive comprehensive support in adopting the latest tools and technologies. Our team is highly experienced in software migrations and project management,
                                                    ensuring a smooth transition and successful implementation.
                                                </p>
                                            </div>
                                        </div>
                                        <!-- <img src="{% static 'website/images/svg/card3.svg' %}" class="card-3-img"> -->
                                    </div>
                                </div>
                            </div>
                <div class="row">
                    <!-- Fourth card below the second and third, taking whole space -->
                    <div class="col-12">
                        <div class="card" style=" display: flex; flex-direction: row; /* Ensures horizontal layout */ justify-content: space-between; align-items: center; padding-top: 30px; padding-left: 30px; padding-right: 0; /* Remove right padding */ padding-bottom: 0; /* Remove bottom padding */ background-color: #fdfcf3; border-radius: 8px; overflow: hidden; ">
                            <div class="card-body">
                                <div class="interface-data">
                                    <div class="feature-title">
                                        <div class="feature-icon">
                                            <img src="{% static 'website/images/svg/interface.svg' %}">
                                        </div>
                                        <h4 class="feature-heading">Software</h4>
                                    </div>
                                    <p class="feature-text">Adopt Abaci's existing in-house business software or request bespoke applications</p>
                                </div>
                            </div>
                            <!-- <img src="{% static 'website/images/svg/card4.svg' %}" class="interface-graph"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- FEATURES-8
    ============================================= -->
    <section id="features-8" class="wide-60 features-section division mt-100">
        <div class="container">


            <!-- SECTION TITLE -->
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-8">
                    <div class="section-title title-01 mb-30">

                        <!-- Title -->
                        <h2 class="">{{ site_settings.services_title }}</h2>

                    </div>
                </div>
            </div>


            <!-- FEATURES-8 WRAPPER -->
            <div class="fbox-8-wrapper text-center">
                <div class="row row-cols-1 row-cols-md-3">

                    {% for service in services %}
                        <!-- FEATURE BOX #1 -->
                    <div class="col">
                        <a href="/{{ service.service_detail_url }}">
                            <div class="fbox-8 mb-40 wow fadeInUp">

                                <!-- Image -->
                                <div class="fbox-img bg-whitesmoke-gradient">

                                    <img class="img-fluid" src="{{ service.service_icon.url }}"
                                         style="height: 70px" alt="feature-icon" />
                                </div>

                                <!-- Title -->
                                <h5 class="h5-md">{{ service.service_name }}</h5>

                                <!-- Text -->
                                <p class="p-lg">
                                    {{ service.service_description }}
                                </p>
                        </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>  <!-- End row -->
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <a href="{% url 'our_services' %}" class="btn primary-button">Explore All Services</a>
                    </div>
                </div>
            </div>    <!-- END FEATURES-8 WRAPPER -->


        </div>       <!-- End container -->
    </section>    <!-- END FEATURES-8 -->





{% endblock main_content %}
